<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.ArticleDao">
    <resultMap type="Article" id="ArticleResult">
        <result property="id" column="id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleCreateDate" column="article_create_date"/>
        <result property="articleContent" column="article_content"/>
        <result property="isTop" column="is_top"/>
        <result property="addName" column="add_name"/>
    </resultMap>

    <select id="findArticles" parameterType="Map" resultMap="ArticleResult">
        select id,article_title,article_create_date,article_content,add_name from ssm_article
        <where>
            <if test="articleTitle!=null and articleTitle!='' ">
                and article_title like #{articleTitle}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getTotalArticles" parameterType="Map" resultType="Long">
        select count(*) from ssm_article
        <where>
            <if test="articleTitle!=null and articleTitle!='' ">
                and article_title like #{articleTitle}
            </if>
        </where>
    </select>

    <insert id="insertArticle" parameterType="Article">
		insert into
		ssm_article(article_title,article_create_date,article_content,add_name)
		values(#{articleTitle},#{articleCreateDate},#{articleContent},#{addName})
	</insert>

    <update id="updArticle" parameterType="Article">
		update ssm_article
		set
		article_title=#{articleTitle},article_content=#{articleContent},
		add_name=#{addName}
		where id=#{id}
	</update>


    <delete id="delArticle" parameterType="String">
		delete from
		ssm_article
		where id=#{id}
	</delete>

    <select id="getArticleById" parameterType="String" resultMap="ArticleResult">
		select id,article_title,article_create_date,article_content,add_name
		from ssm_article where id=#{id}
	</select>
</mapper> 